plugins/com.ebmwebsourcing.petals.services.rest/templates/RestService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--
 Copyright (c) 2007-2012 EBM WebSourcing, 2012-2018 Linagora

 This program/library is free software: you can redistribute it and/or modify
 it under the terms of the GNU Lesser General Public License as published by
 the Free Software Foundation, either version 2.1 of the License, or (at your
 option) any later version.

 This program/library is distributed in the hope that it will be useful, but
 WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 FITNESS FOR A PARTICULAR PURPOSE. See the GNU Lesser General Public License
 for more details.

 You should have received a copy of the GNU Lesser General Public License
 along with this program/library; If not, see http://www.gnu.org/licenses/
 for the GNU Lesser General Public License version 2.1.
-->
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://petals.ow2.org/components/rest/version-1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RestService" targetNamespace="http://petals.ow2.org/components/rest/version-1">
  <wsdl:types>
    <xsd:schema targetNamespace="http://petals.ow2.org/components/rest/version-1">
    
      <xsd:element name="GET">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GETResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      
      <xsd:element name="POST">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="POSTResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            
      <xsd:element name="PUT">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="PUTResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="DELETE">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="DELETEResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      
    </xsd:schema>  
  </wsdl:types>
  
  <wsdl:message name="GETRequest">
    <wsdl:part element="tns:GET" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GETResponse">
    <wsdl:part element="tns:GETResponse" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="POSTRequest">
    <wsdl:part element="tns:POST" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="POSTResponse">
    <wsdl:part element="tns:POSTResponse" name="parameters"/>
  </wsdl:message>
  
  <wsdl:message name="PUTRequest">
    <wsdl:part element="tns:PUT" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="PUTResponse">
    <wsdl:part element="tns:PUTResponse" name="parameters"/>
  </wsdl:message>
  
  <wsdl:message name="DELETERequest">
    <wsdl:part element="tns:DELETE" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="DELETEResponse">
    <wsdl:part element="tns:DELETEResponse" name="parameters"/>
  </wsdl:message>
  
  
  <wsdl:portType name="Rest">
    
    <wsdl:operation name="GET">
      <wsdl:input message="tns:GETRequest"/>
      <wsdl:output message="tns:GETResponse"/>
    </wsdl:operation>
    
    <wsdl:operation name="POST">
      <wsdl:input message="tns:POSTRequest"/>
      <wsdl:output message="tns:POSTResponse"/>
    </wsdl:operation>
    
    <wsdl:operation name="PUT">
      <wsdl:input message="tns:PUTRequest"/>
      <wsdl:output message="tns:PUTResponse"/>
    </wsdl:operation>
    
    <wsdl:operation name="DELETE">
      <wsdl:input message="tns:DELETERequest"/>
      <wsdl:output message="tns:DELETEResponse"/>
    </wsdl:operation>
    
  </wsdl:portType>
  
  <wsdl:binding name="RestServiceSOAP" type="tns:Rest">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    
    <wsdl:operation name="GET">
      <soap:operation soapAction="http://petals.ow2.org/components/rest/version-1/GET"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="POST">
      <soap:operation soapAction="http://petals.ow2.org/components/rest/version-1/POST"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="PUT">
      <soap:operation soapAction="http://petals.ow2.org/components/rest/version-1/PUT"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="DELETE">
      <soap:operation soapAction="http://petals.ow2.org/components/rest/version-1/DELETE"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  

  <wsdl:service name="myRestSUServiceName">
    <wsdl:port binding="RestServiceSOAP" name="myRestSUEndPointName">
      <soap:address location="jbi://myRestSUEndPointName"/>
    </wsdl:port>
  </wsdl:service>
  
</wsdl:definitions>
