plugins/com.linagora.petals.common/xsd/specialized-su/camel-extensions.xsd

<xs:schema 
	elementFormDefault="qualified" 
	targetNamespace="http://petals.ow2.org/components/petals-se-camel/jbi/version-1.0"
	xmlns="http://petals.ow2.org/components/petals-se-camel/jbi/version-1.0" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema">
	
		<xs:element name="java-routes" type="xs:string" />
		<xs:element name="xml-routes" type="xs:string" />

		<xs:group name="CamelExtensions">
			<xs:sequence>
				<xs:element ref="java-routes" minOccurs="0" maxOccurs="unbounded" />
				<xs:element ref="xml-routes" minOccurs="0" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:group>
	
</xs:schema>
